/* Descendant Selector */
/* div p {
  background-color: yellow;
}  */

/*child selector*/
/* div > p {
  background-color: blue;
} */

/*adyacent selector*/
/* div + p {
  background-color: green;
} */

/*siblin selector*/
div ~ p {
  background-color: blueviolet;
}